<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <title>Sistem Informasi OSIS SMA</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/konten.css}" rel="stylesheet"/>
	<link th:href="@{/css/default.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/home.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet"/>

    <!-- Morris Charts CSS -->
    <link th:href="@{/css/plugins/morris.css}" rel="stylesheet"/>
	<link th:href="@{/css/modal.css}" rel="stylesheet" media="screen"/>
    <!-- Custom Fonts -->
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

</head>

<body style="background: white;">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
							<ul class="nav navbar-nav navbar-left">
                	<li><img width="40" class="lib-img-show" src="/image/osis_sma.png"/></li>              
                	<li><a class="navbar-brand" href="/">OSIS SMA </a></li>
                </ul>
            </div>
            <!-- Top Menu Items -->
            <div class="navbar-collapse collapse">
                 <ul class="nav navbar-right top-nav">
              
                     <li class="active"><a href="/">Home</a>
           			  </li>
        
        <li class="dropdown">
                      	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pengumuman <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-bullhorn"></i> Lihat Pengumuman</a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#squarespaceModal"><i class="fa fa-bullhorn"></i> Buat Pengumuman</a>
                            </li>
                           
                        </ul>
                      </li>
                      
                      
                      
                      <li class="dropdown">
                      	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Polling <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-toggle="modal" data-target="#squarespaceModal"><i class="fa fa-fw fa-child"></i> Ikuti Polling </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#squarespaceModal"><i class="fa fa-fw fa-child"></i> Tambahkan Polling </a>
                            </li>
                            
                             <li>
                                <a href="#" data-toggle="modal" data-target="#squarespaceModal"><i class="fa fa-fw fa-child"></i> Hasil Polling </a>
                            </li>
                           
                        </ul>
                      </li>
                      
                      
                      
              		<li class="dropdown">
                      	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Forum <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-toggle="modal" data-target="#squarespaceModal"><i class="fa fa-newspaper-o"></i>Ikuti Forum</a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#squarespaceModal"><i class="fa fa-newspaper-o"></i> Tambahkan Forum</a>
                            </li>
                           
                        </ul>
                      	<li>
                       <a href="/register" data-target="#squarespaceModal"><i class="fa fa-fw fa-user"></i>  Konfigurasi</a>
                   </li>     
                        
                        
                        
                   <li>
                       <a href="" data-toggle="modal" data-target="#squarespaceModal"><i class="fa fa-fw fa-user"></i>Login</a>
                   </li>
                      </li>
        

                      
                    </ul>
                    <ul class="nav navbar-nav">
                   <!-- -ini isi nyaa menu sebelah kiri -->
                    </ul>
             </div>
        </nav>
      </div> 
      
      
      
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                
                <br/><br/>
                  <div class="row">
                      <div class="col-lg-8">
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-clock-o"></i> Home
                            </li>
                        </ol>
                      </div>
                    <div class="col-lg-4">   
        			</div>	
                </div>
                <!-- /.row -->
         
					<div class="row">						
            			<div class="col-lg-12  lib-item" data-category="view">
            				  <div id="myCarousel" class="carousel slide" data-ride="carousel">

							
							    <!-- Wrapper for slides -->
							    <div class="carousel-inner">
							
							      <div class="item active" th:if="${berita1}">
							        <img src="image/osiscaraousel1.png" alt="/image/osis_sma.png" style="width:100%;height:32em"/>
							        <div class="carousel-caption">
							          <a th:href="${'/berita/guest/'+berita1.id_berita}"></a>
							        </div>
							      </div>
							
							      <div class="item" th:if="${berita2}">
							        <img src="image/osiscaraousel2.png" alt="/image/osis_sma.png" style="width:100%;height:32em"/>
							        <div class="carousel-caption">
							          <a th:href="${'/berita/guest/'+berita2.id_berita}"></a>
							        </div>
							      </div>
							    
							      <div class="item" th:if="${berita3}">
							        <img src="image/osiscaraousel3.png" alt="/image/osis_sma.png" style="width:100%;height:32em"/>
							        <div class="carousel-caption">
							          <a th:href="${'/berita/guest/'+berita3.id_berita}"></a>
							        </div>
							      </div>
							  
							    </div>
							
							    <!-- Left and right controls -->
							    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
							      <span class="glyphicon glyphicon-chevron-left"></span>
							      <span class="sr-only">Previous</span>
							    </a>
							    <a class="right carousel-control" href="#myCarousel" data-slide="next">
							      <span class="glyphicon glyphicon-chevron-right"></span>
							      <span class="sr-only">Next</span>
							    </a>
							  </div><br/><br/>
							
							<!-- in here -->
							<div class="col-lg-8">
							<ol class="breadcrumb">
                            	<li class="active">
                               	 	<i class="fa fa-clock-o"></i> Pengumuman Terkini
                            	</li>
                        	</ol>
                        	</div>
                        	
                        	<div class="col-lg-4">
							<ol class="breadcrumb">
                            	<li class="active">
                               	 	<i class="fa fa-clock-o"></i> Kontak Kami
                            	</li>
                        	</ol>
                        	</div>
                        	
                        	
                        	
                       <div class="col-lg-8">
                			<div class="lib-panel" th:each="beritas : ${allBerita}">
                    			<div  class="row box-shadow">
                    			<div th:if="${beritas.foto}" class="col-md-4">
                    				<img width="90" height ="180" class="lib-img-show" th:src="${'/image/berita/'+beritas.foto}"/>
                    			</div>
                        		<div class="col-md-6">
                            		<div class="lib-row lib-header">
                                		<h3 th:text="${beritas.judul_berita}"></h3>
                                		<div class="lib-header-seperator"></div>
                            		</div><br/><br/>
                            		<div class="lib-row lib-desc">
                        				<a class="url fn n" th:href="${'/berita/guest/'+beritas.id_berita}">Read More. . .</a>
                        			</div>
                        		</div><br/><br/>
                			</div>
                			</div>
                			</div>
                			<div class="col-lg-4">
                			
                			<h2 style="font-family:Rancho" >GROUP 2 PSI</h2> 
                			<h3 style="font-family:Rancho">SISTEM INFORMASI </h3>
                			<h4 style="font-family:Rancho">INSTITUT TEKNOLOGI DEL</h4>
                		
                			
                			</div>
                			
            			</div>
        		</div>
        		
        	
          </div>
      </div>
 
 
 
 <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
						<b><p class="modal-title" id="lineModalLabel">Anda perlu konfigurasi terlebih dahulu</p></b>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" th:object="${user}" th:action="@{'/create/user'}" method="post" enctype="multipart/form-data">
							
						</form>
					</div>
				</div>
			</div>
		</div>
 	
 	<!-- jQuery -->
    <script th:src="@{js/jquery.js}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{js/bootstrap.min.js}"></script>
	
 </body>
 </html>